body {
    background-color: #F6F6F6;
    font-family: Arial, sans-serif;
}

.homepage-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* ทำให้หน้าจอเต็มความสูง */
    width: 100vw;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 22vw;
    margin-top: 12vh;
    overflow-y: auto;
    /* box-sizing: border-box; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
    margin-bottom: 20px;
    margin-left: 2vw;
}

.stat-box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 80px;
}

.stat-box p {
    margin: 0;
    font-size: 16px;
    color: gray;
    text-align: center;
}

.stat-box h {
    margin: 0;
    font-size: 12px;
    color: rgb(209, 209, 209);
    text-align: center;
}

.stat-box h2 {
    margin: 10px 0;
    font-size: 28px;
    color: #333;
}

.info-box {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    width: 300px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box h3 {
    margin-bottom: 10px;
    text-align: left;
    margin-top: 0px;
}

.info-box p {
    margin: 0;
    color: #666;
    text-align: center;
    flex: 1;
}

.info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
}

.info-row p1 {
    margin: 0;
    color: #666;
    text-align: left;
    flex: 1;
}

.container-head {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
}

.container-head p {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
    text-align: left;
    cursor: pointer;
    margin-left: 15px;
}