.navbar-container {
    width: 100vw;
    height: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.navbar {
    display: flex;
    /* ใช้ flexbox สำหรับการจัดเรียง */
    align-items: center;
    /* จัดให้ตรงกลางในแนวแกน Y */
    gap: 10px;
    font-weight: bold;
    /* ระยะห่างระหว่างไอคอนและชื่อผู้ใช้ */
}

p {
    margin: 0;
    /* ลบ margin ของ h4 */
}