.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    display: flex; /* Add this line */
    flex-direction: column; /* Ensure content is laid out vertically */
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    position: relative;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Optional: Add some padding for better spacing */
}

.close-icon {
    cursor: pointer;
    color: #888;
    font-size: 24px;
    margin-left: auto; /* This will push the icon to the right */
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.toggle-buttons button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px 5px 0 0;
    outline: none;
    transition: background-color 0.3s;
}

.toggle-buttons .active {
    background-color: #333;
    color: white;
}

.toggle-buttons button:not(:last-child) {
    margin-right: 5px;
}

.table-container {
    max-height: 50vh; /* Limit height for table */
    overflow-y: auto;
}

.active {
    background-color: #007bff;
    color: white;
}