.sidebar-container {
    width: 18%;
    height: 100vh;
    background-color: #FF6600;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    /* เพิ่มเพื่อให้แน่ใจว่า padding จะไม่ทำให้เกินขอบเขต */
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.logo {
    width: 160px;
    filter: brightness(0) invert(1);
}

.sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}

.MuiListItemButton-root {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    width: 100%;
    text-align: left;
}

.MuiListItemButton-root:hover {
    background-color: #FF9933;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.MuiTypography-root {
    font-size: 16px;
    color: #FFFFFF;
}